<header>
  <h1>Rails Ride Share</h1>
  <sub>by Hana && Maria</sub>
  <nav>
    <ul>
      <li>Drivers</li>
      <li>Passengers</li>
    </ul>
  </nav>
</header>

<section>
  <p>Welcome to Hana && Maria's Rideshare on Rails!</p>
  <ul>
    <li>Manage Drivers</li>
    <li>Manage Passengers</li>
  </ul>
</section>

<footer>
  &copy; 2019 - Hana && Maria
</footer>