<h2>Rideshare Passengers</h2>

<ul>
  <% @passengers.each do |passenger| %>
  <li>
    <img src="http://placekitten.com/150/150">
  <li>
    <%= link_to passenger.name, passenger_path(passenger.id) %>
  </li>
  <li>
    <%= link_to "Edit", edit_passenger_path(passenger) %>
  </li>
  <li class="height">
    <%= link_to "Delete", passenger_path(passenger), method: :delete, data: { confirm: "Do you wish to delete #{passenger.name}?" } %>
  </li>
  <% end %>
</ul>