<h2>Rideshare Drivers</h2>
<ul>
    <% @drivers.each do |driver| %>
    <img src="http://placekitten.com/150/150">
    <li>
    <strong><p><%= link_to driver.name, driver_path(driver.id) %></p>
      <p>Rating: <%= driver.average_rating %></p>
    <sub><%= link_to "Edit", edit_driver_path(driver.id) %></sub>
    <sub><%= link_to "Delete", driver_path(driver), method: :delete, data: { confirm: "Please confirm you want to delete this driver from the list #{driver.name}?" } %></sub>
    </li>
  <% end %>

</ul>
